body.dark{
    background-color: #202a2e;
}

.dark #branding{
    color: white;
}

.dark #contact{
    color: #8b8b8b;
}

.dark #textbox{
    background: #202a2e;
    box-shadow: inset 5px 5px 16px rgba(0, 0, 0, 0.15), 
                inset -7px -7px 5px rgba(255, 255, 255, 0.02);
}

.dark #toptext{
    color: #ffffff;
}

.dark #neodot{
    color: #ffffff;
}

.dark #abtme{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15), 
               -2px -2px 8px rgba(255, 255, 255, 0.02);
    background: #202a2e;     
    color: #ffffff;
}

.dark #abtme:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.dark .darkl{
    position: absolute;
    display: block;
    padding: 8px 8px;
    background: #202a2e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 
               -2px -2px 5px rgba(255, 255, 255, 0.02);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    left: 335px;
    top: 630px;
}

.dark .darky{
    display: none;
}

.darkl:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.darkl:hover span{
    display: inline-block;
    transform: scale(0.98);
}

.dark .socialicons{
    background: #202a2e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 
               -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.dark .socialiconsl{ 
    padding: 8px 8px;
    display: block;
    background: #202a2e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 
               -2px -2px 5px rgba(255, 255, 255, 0.02);
    border-radius: 5px;
}

.socialicons:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
               inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.dark .socialiconsl:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
               inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.dark #github{
    display: none;
}

.dark #githubl{
    position: absolute;
    display: block;
    align: center;
    width: 20px;
    height: 20px;
    left: 56px;
}

.dark #about{
    color: white;
}

.dark .box{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25), 
               -2px -2px 8px rgba(255, 255, 255, 0.04);
    background: #202a2e;
}

.dark #mywork{
    color: #FFB9FFE8;
}

.dark #blogtext{
    color: white;
}

.dark #blog{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15), 
               -2px -2px 8px rgba(255, 255, 255, 0.02);
    background: #202a2e;
    color: white;
}

.dark #blog:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

