 body{
    margin: auto;
    width: 100%;
    align: auto;
    height: 1540px;
    background-color: #e0e5ec;
    padding: 0;
}

/* Title Bar */
#title{
    position: absolute;
    width: 333.77px;
    height: 20px;
    left: 39px;
    top: 44px;
}

/* Andro. */
#branding{
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
    margin-top: 0;
    font-size: 18px;
    float: left;
}

#dot{
    font-family: Poppins;
    font-size: 18px;
    color: #63abff;
}

/* Tabs */
.tabs{
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
}

#home{
    position: absolute;
    left: 68%;
    top: calc(50% - 15px/2 + 2px);
    color: #6779FF;
    text-decoration: none;
}

#contact{
    position: absolute;
    left: 86%;
    top: calc(50% - 15px/2 + 2px);
    color: #424242;
    text-decoration: none;
}

/* Body */
#main{
    position: absolute;
    left: 39px;
    top: 100px;
    width: 333px;
    height: 526px;
} 

#textbox{
    position: absolute;
    width: 333px;
    height: 380px;
    background: #E0E5EC;
    box-shadow: inset 4px 4px 16px rgba(163, 177, 198, 0.30), 
                inset -7px -7px 16px rgba(255, 255, 255, 0.40);
    border-radius: 10px;
}

 #toptext{
    position: absolute;
    height: 98px;
    width: 291px; 
    left: 21px;
    font-family: Raleway;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 2px;
}

#neo{
    color: #6779FF;
} 

#neodot{
    color: #000000;
    font-family: Poppins;
}

#text{
    position: absolute;
    height: 125px;
    left: 6.31%;
    right: 6.31%;
    top: calc(50% - 125px/2 + 17px);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    color: #8B8B8B;
}

/* Button  */
#abtme{
    position: absolute;
    text-decoration: none;
    padding: 16px 18px;
    top: 410px;
    background: #E0E5EC;
    box-shadow: 8px 8px 8px rgba(163, 177, 198, 0.15 ), 
               -8px -8px 12px rgba(255, 255, 255, 0.30);
    border-radius: 7px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center; 
    letter-spacing: 3px;
    color: #000000;
}

#abtme:hover{
    box-shadow: inset 3px 3px 8px rgba(163, 177, 198, 0.30), 
               inset -3px -3px 8px rgba(255, 255, 255, 0.30);
}

#abtme:hover span{
    display: inline-block;
    transform: scale(0.98);
}

/* Dark Mode button */
.darky{
    position: absolute;
    padding: 8px 8px;
    background: #E0E5EC;
    box-shadow: 1px 1px 3px rgba(163, 177, 198, 0.4), 
               -1px -1px 3px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    left: 335px;
    top: 630px;
}

.darkl{
    display: none;
}

.darky:hover{
    box-shadow: inset 1px 1px 3px rgba(163, 177, 198, 0.4), 
               inset -1px -1px 3px rgba(255, 255, 255, 0.4);
}

.darky:hover span{
    display: inline-block;
    transform: scale(0.98);
}

/* Social Icons */
#social{
    position: absolute;
    width: 147px;
    height: 35px;
    left: 39px;
    top: 630px;
}

.socialicons{
		 padding: 8px 8px;
    background: #E0E5EC;
    box-shadow: 1px 1px 3px rgba(163, 177, 198, 0.4), 
               -1px -1px 3px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.socialiconsl{
		 display: none;
}

.socialicons:hover{
    box-shadow: inset 1px 1px 3px rgba(163, 177, 198, 0.4), 
               inset -1px -1px 3px rgba(255, 255, 255, 0.4);
}

.socialicons:hover span{
    display: inline-block;
    transform: scale(0.98);
}

#behance{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
}

#github{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 56px;
}

#githubl{
    display: none;
}

#dribbble{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 112px;
}

/* About Me title */
#abt-title{
    position: absolute;
    width: 333.77px;
    height: 20px;
    left: 39px;
    top: 780px;
}

#about{
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
    margin-top: 0;
    font-size: 18px;
    float: left;
}

#abtdot{
    font-family: Poppins;
    font-size: 18px;
    color: #63abff;
}

#abt-body{
    position: absolute;
    width: 333.77px;
    height: 537px;
    left: 39px;
    top: 818px;
}

.scroller{
    position: relative;
    overflow: visible;
    top: 5px;
    overflow-y: auto;
    width:411px;
    height: 500px;
    margin-left:-37px;
    margin-right:-37px;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.work-tabs{
    overflow-y: visible;
    white-space: nowrap;	
}

.box{
    display: inline-block;
    background: #E0E5EC;
    width: 233px;
    height: 375px;  
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: 8px 8px 8px rgba(163, 177, 198, 0.15 ), 
                -8px -8px 12px rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}

.box:first-child{
    margin-right: 20px;
    margin-left: 39px;
}

.abt{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.5px;
    letter-spacing: 0.02em;
    color: #8B8B8B;
}

#name{
    font-family: Poppins;
    font-size: 16px;
    color: #63abff;
}

#mywork{
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 24.5px;
    letter-spacing: 0.02em;
    color: #433f3f;
}

#blogtext{
    position: absolute;
    width: 333.77px;
    height: 50px;
    left: 39px;
    top: 1398px;
}

#blog{
    position: absolute;
    text-decoration: none;
    padding: 16px 18px;
    top: 35px;
    background: #E0E5EC;
    box-shadow: 8px 8px 8px rgba(163, 177, 198, 0.15 ), 
               -8px -8px 12px rgba(255, 255, 255, 0.30);
    border-radius: 7px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center; 
    letter-spacing: 0.06em;
    color: #000000;
}

#blog:hover{
    box-shadow: inset 8px 8px 8px rgba(163, 177, 198, 0.15 ), 
               inset -8px -8px 12px rgba(255, 255, 255, 0.30);
}

/* Side image */
#sideimage{
    visibility: hidden;
}

/* ---------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
body{
    background-color: #202a2e;
}

#branding{
    color: white;
}

#contact{
    color: #8b8b8b;
}

#textbox{
    background: #202a2e;
    box-shadow: inset 5px 5px 16px rgba(0, 0, 0, 0.15), 
                inset -7px -7px 5px rgba(255, 255, 255, 0.02);
}

#toptext{
    color: #ffffff;
}

#neodot{
    color: #ffffff;
}

#abtme{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15), 
               -2px -2px 8px rgba(255, 255, 255, 0.02);
    background: #202a2e;     
    color: #ffffff;
}

#abtme:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.darkl{
    position: absolute;
    display: block;
    padding: 8px 8px;
    background: #202a2e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 
               -2px -2px 5px rgba(255, 255, 255, 0.02);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    left: 335px;
    top: 630px;
}

.darky{
    display: none;
}

.darkl:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.darkl:hover span{
    display: inline-block;
    transform: scale(0.98);
}

.socialicons{
    background: #202a2e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 
               -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.socialiconsl{ 
    padding: 8px 8px;
    display: block;
    background: #202a2e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), 
               -2px -2px 5px rgba(255, 255, 255, 0.02);
    border-radius: 5px;
}

.socialicons:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
               inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

.socialiconsl:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
               inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}

#github{
    display: none;
}

#githubl{
    position: absolute;
    display: block;
    align: center;
    width: 20px;
    height: 20px;
    left: 56px;
}

#about{
    color: white;
}

.box{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25), 
               -2px -2px 8px rgba(255, 255, 255, 0.04);
    background: #202a2e;
}

#mywork{
    color: #FFB9FFE8;
}

#blogtext{
    color: white;
}

#blog{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15), 
               -2px -2px 8px rgba(255, 255, 255, 0.02);
    background: #202a2e;
    color: white;
}

#blog:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.02);
}
}
