 body{
    margin: auto;
    width: 100%;
    align: auto;
    font-family: Raleway, Poppins, Roboto, sans-serif;
    min-height: 100vh;
    background-color: #e0e5ec;
    padding: 0;
}

/* Title Bar */
#title{
    position: absolute;
    width: 333.77px;
    height: 20px;
    left: 39px;
    top: 44px;
}

/* Andro. */
#branding{
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
    margin-top: 0;
    font-size: 18px;
    float: left;
}

#dot{
    font-family: Poppins;
    font-size: 18px;
    color: #63abff;
}

/* Tabs */
.tabs{
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
}

#home{
    position: absolute;
    left: 68%;
    top: calc(50% - 15px/2 + 2px);
    color: #6779FF;
    text-decoration: none;
}

#contact{
    position: absolute;
    left: 86%;
    top: calc(50% - 15px/2 + 2px);
    color: #424242;
    text-decoration: none;
}

/* Body */
#main{
    position: absolute;
    width: 333px;
    height: 526px;
} 

#textbox{
    position: absolute;
    width: 333px;
    height: 380px;
    left: 39px;
    top: 100px;
    background: #E0E5EC;
    box-shadow: inset 9px 9px 16px rgba(163, 177, 198, 0.25), 
                inset -9px -9px 16px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

 #toptext{
    position: absolute;
    height: 98px;
    width: 291px; 
    left: 21px;
    font-family: Raleway;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 2px;
}

#neo{
    color: #6779FF;
} 

#neodot{
    color: #000000;
    font-family: Poppins;
}

#text{
    position: absolute;
    height: 125px;
    left: 6.31%;
    right: 6.31%;
    top: calc(50% - 125px/2 + 17px);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 24.5px;
    color: #8B8B8B;
}

/* Button  */
#abtme{
    position: absolute;
    text-decoration: none;
    padding: 16px 18px;
    top: 510px;
    left: 39px;
    background: #E0E5EC;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.25), 
               -9px -9px 16px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center; 
    letter-spacing: 3px;
    color: #000000;
}

#abtme:hover{
    box-shadow: inset 9px 9px 16px rgba(163, 177, 198, 0.25), 
               inset -9px -9px 16px rgba(255, 255, 255, 0.25);
}

#abtme:hover span{
    display: inline-block;
    transform: scale(0.98);
}

/* Social Icons */
#social{
    position: absolute;
    width: 147px;
    height: 35px;
    left: 39px;
    top: 630px;
}

.socialicons{
		 padding: 8px 8px;
    background: #E0E5EC;
    box-shadow: 1px 1px 3px rgba(163, 177, 198, 0.4), 
               -1px -1px 3px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.socialicons:hover{
    box-shadow: inset 1px 1px 3px rgba(163, 177, 198, 0.4), 
               inset -1px -1px 3px rgba(255, 255, 255, 0.4);
}

.socialicons:hover span{
    display: inline-block;
    transform: scale(0.98);
}

#behance{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
}

#github{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 56px;
}

#dribbble{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 112px;
}

/* Side image */
#sideimage{
    visibility: hidden;
}: hidden;
};
}dden;
}: hidden;
}n;
}: hidden;
};
}
}
}: hidden;
}: hidden;
};
}